<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Meeting Room Reservation System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/adminScreen}">Meeting Room Reservation System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully add meeting room!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Meeting Room</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/addMeetingRoomReservation/save}" th:object="${meetingRoomReservation}">

					<div class="form-group mb-3">
					    <label class="form-label">Location Meeting Room</label>
					    <input class="form-control"
					           id="locationName"
					           name="locationName"
					           placeholder="Location Meeting Room"
					           th:value="${meetingRoomReservation.locationName}"
					           readonly
					           type="text"
					    />
					</div>
					
					<div class="form-group mb-3">
					    <label class="form-label">Meeting Room</label>
					    <input class="form-control"
					           id="meetingRoomName"
					           name="meetingRoomName"
					           placeholder="Meeting Room ID"
					           th:value="${meetingRoomReservation.meetingRoomName}"
					           readonly
					           type="text"
					    />
					</div>
					
					<div class="form-group mb-3" style="display: none;">
					    <input class="form-control"
					           id="meetingRoomId"
					           name="meetingRoomId"
					           placeholder="Meeting Room ID"
					           th:value="${meetingRoomReservation.meetingRoomId}"
					           type="text"
					    />
					</div>
					
					<div class="form-group mb-3" style="display: none;">
					    <input class="form-control"
					           id="officeLocationId"
					           name="officeLocationId"
					           th:value="${meetingRoomReservation.officeLocationId}"
					           type="text"
					    />
					</div>
					
					<div class="form-group mb-3" id="meetingRoomInfo">
					    <h3>Meeting Room Details</h3>
					    <p><strong>Description:</strong> <span th:text="${meetingRoomReservation.meetingRoomDescription}"></span></p>
					    <p><strong>Amenities:</strong> <span th:text="${meetingRoomReservation.amenitiesInformation}"></span></p>
					</div>

					<div class="form-group mb-3" id="meetingRoomPrivate" >
					    <label class="form-label">Private Meeting</label>
					    <div>
					        <select name="privateMeeting" id="privateMeeting">
					            <option value="No">No</option>
					            <option value="Yes">Yes</option>
					        </select>
					    </div>
					</div>
					
					<div class="form-group mb-3">
                        <label class="form-label">Meeting Description</label>
                        <input class="form-control"
                               id="meetingDescription"
                               name="meetingDescription"
                               placeholder="Enter Meeting Description"
                               th:field="*{meetingDescription}"
                               type="text"
                        />
                        <p th:errors="*{meetingDescription}" class="text-danger"
                           th:if="${#fields.hasErrors('meetingDescription')}">
                        </p>
                    </div>
					
					<div class="form-group mb-3">
                        <label class="form-label">Start Time</label>
                        <div>
                            <input type="datetime-local" id="startTime" name="startTime" class="form-control" required>
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="form-label">End Time</label>
                        <div>
                            <input type="datetime-local" id="endTime" name="endTime" class="form-control" required>
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
  

 	// Get references to the start and end time input fields
    const startTimeInput = document.getElementById('startTime');
    const endTimeInput = document.getElementById('endTime');

    // Add event listener to end time input field to validate against start time
    endTimeInput.addEventListener('change', function() {
        // Parse the date and time strings from the input fields
        const startTime = new Date(startTimeInput.value);
        const endTime = new Date(endTimeInput.value);

        // Check if end time is earlier than start time
        if (endTime < startTime) {
            // Display error message and clear end time input field
            alert('End time cannot be earlier than start time');
            endTimeInput.value = '';
        }
    });
        
</script>
</body>
</html>
